{{ $homepageImage := "" }}
{{ with .Site.Params.homepage.homepageImage }}
  {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
    {{ $homepageImage = resources.GetRemote . }}
  {{ else }}
    {{ $homepageImage = resources.Get . }}
  {{ end }}
{{ end }}
<article class="max-w-full prose dark:prose-invert">
  {{ with $homepageImage }}
    <div class="mx-auto max-w-7xl p-0">
      <div class="relative shadow-xl sm:overflow-hidden rounded-2xl">
        <img
          class="w-full nozoom mt-0 mr-0 mb-0 ml-0 object-cover"
          style="max-height: 400px;"
          src="{{ .RelPermalink }}">
      </div>
    </div>
  {{ end }}
</article>
<section>
  {{ partial "recent-articles/main.html" . }}
</section>
